.reviews_list {
  margin-top: -30px;
}

.reviews_item {
  padding-bottom: 20px;
  font-size: 14px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.reviews_subhead {
  font-size: 20px;
  color: #ffffff;
  background-color: #3f51b5;
  /* padding-left: 10px; */
}

.reviews_subheadPart {
  font-size: 14px;
  font-weight: 400;
  padding-left: 5px;
}

.reviews_icon {
  padding-right: 10px;
  padding-left: 10px;
  width: 20px;
  height: 20px;
  fill: rgb(241, 235, 241);
}
